

#login {
	margin-top: 30px; 
	width:600px; 
	height:80px;   
	border-radius: 12px; 
	border-color:#00FF80;
	border:1 #00FF80;
	font-size: 25px;
	outline:1px; 
	solid: #00FF80;
	color:#00FF80;
}
		
#password {
	margin-top: 10px; 
	width:600px; 
	height:80px; 
	display: inline-block; 
	border-radius: 12px;
	border-color:#00FF80;
	border:1 #00FF80;
	font-size: 25px;
	outline:1px; 
	solid: #00FF80;
}
		   
#button {
	width:600px; 
	height:70px; 
	color:#00FF80; 
	font-weight: bold;
}
		 
#loginButton {
	margin-top: 25px; 
	text-align: center;
}

#loginForm {
	margin-top:30px;
}

#passwordForm {
	margin-top:10px;
}

#logincheck {
	margin-top:20px; 
	font-size: 20px; 
	color:#00FF80; 
	font-weight: bold;
}
			 
#logintheme {
	text-align: center; 
	margin-top:150px; 
	margin-bottom:255px;
}
			 
#button {
	background-color: #00FF80; /* Green */
	border: none;
	color: white;
	padding: 15px 32px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 20px;
	cursor: pointer;
	border-radius: 12px;
	box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19);
	font-weight: 800;
}

#logincheckbox {
	width: 20px;
	height: 20px;
	cursor: pointer;
	border-color:#0872FD;
}


#linkButton {
	margin-top:25px;
	font-size:20px;
	color: #0872FD;
}