@charset "UTF-8";

#title1 {
	margin-top:40px;
	text-align:center;
}

h1 {
	font-size: 40px;
	color:#00FF80;
	margin-top:50px;
}

#message1 {
	margin-top:30px;
	font-size:25px;
	font-weight:bold;
}

#message2 {
	margin-top:30px;
	font-size:30px;
	font-weight:bold;
}

#messagebox {
	text-align:center;
	font-size:30px;
	font-weight:bold;
}

#button3 {
	background-color:#00FF80; /* Green */
	border: none;
	color: white;
	padding: 15px 32px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 25px;
	cursor: pointer;
	border-radius: 12px;
	box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19);
	font-weight: 800;
	width:400px; 
	height:60px;
}

#signupbtn {
	margin-top:20px;
}

footer {
	margin-top:400px;
}